In [6]:
import pandas as pd

dc_lst = []
expDes_lst = ['no cintext', 'c1', 'c2', 'c3', 'all']
for i in range(5):
    c_dc = {'Exp. des': expDes_lst[i], 'MAE': 1, 'RMSE':2}
    c_dc.update({'Note': 'none'})
    dc_lst.append(c_dc)

report_df = pd.DataFrame(dc_lst)

In [5]:
report_df.to_excel('x.xlsx')
report_df.to_latex('x.tex')

In [7]:
report_df

     Exp. des  MAE  RMSE  Note
0  no cintext    1     2  none
1          c1    1     2  none
2          c2    1     2  none
3          c3    1     2  none
4         all    1     2  none